<%- include("header") -%> 

<h2>This is the about page.</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, illum cum molestiae, ut saepe magnam eius excepturi velit, nobis debitis pariatur porro. 
    Odit hic blanditiis error omnis. Facilis, optio repudiandae!
</p>

<%- include("footer") -%> 